body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, footer {
    text-align: center;
    padding: 1rem;
    background-color: #007BFF;
    color: white;
}

main {
    padding: 1rem;
}

.poses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pose {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: calc(33% - 20px);
    background-color: white;
}

.pose img {
    max-width: 100%;
    height: auto;
}

.pose h3 {
    color: #007BFF;
}
