.fixed-navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000; /* Ensure it's on top of other elements */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  position: relative;
  z-index: 999; /* Below sidebar and overlay */
}

.footer {
  position: relative;
  z-index: 999; /* Below sidebar and overlay */
}
