footer {
  background-color: #f8f9fa;
  position: relative;
  bottom: auto;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

footer > .text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  margin: 0 auto; */
  margin-left: 20px;
}