@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* the width and height of an element is only calculated based on its content */
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px;
  width: 75%;
  height: 75%;
  margin-bottom: 8rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px;
  width: 75%;
  height: 75%;
  margin-bottom: 8rem;
}
