/* AllGeneratedVideos.css */

.all-generated-videos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  color: #2c3e50;
  border-bottom: 3px solid #3498db;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.generated-videos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.generated-video-item {
  flex: 1 1 calc(33.333% - 40px); /* Adjust the size as needed */
  box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.generated-video-preview {
  border-radius: 8px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .generated-video-item {
    flex: 1 1 calc(50% - 20px); /* Two videos per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .generated-video-item {
    flex: 1 1 100%; /* Full width on very small screens */
  }
}

/* AllGeneratedVideos.css */
.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: blue;
}
