.all-generated-videos-container {
  margin-top: 120px; /* Adjust this value to push content down further */
  padding-top: 40px; /* Additional padding to ensure the title is visible */
  text-align: center;
}

.section-title {
  font-size: 3rem;
  font: bold;
  margin-bottom: 1rem;
  padding-top: 20px; /* Add some top padding to the title */
}

.generated-videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 20px;
}

.buttons-container {
  margin-top: 20px;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
